h1 {
  text-align: center;
  text-decoration: underline wavy;
}
span:nth-of-type(2n) {
  color: blue;
}

div {
  text-align: center;
  font-size: 125px;
}
span {
  color: red;
}
#endgame {
  visibility: hidden;
}

.square:hover {
  background-color: gray;
}

.square:active {
  background-color: black;
}

.mark {
  visibility: hidden;
}
